
{% extends 'base.html.twig' %}

{% block title %}Infos sur le toilette{% endblock %}

{% block body %}

  <div class="container-fluid">
    <div class="container">

      <div id='desc' class="row">
        <div class="col s12 m12 l6 offset-l3 xl6 offset-xl3 center-align">
          <h3> Infos sur le toilette</h3>

        <p><i class="small material-icons">home</i> Adresse : {{ tabInfo['adresse'] }}</p>

        {% if tabInfo['handicape'] == 0 %}
          <p><i class="small material-icons">accessible</i> Handicapé : Non</p>
        {% else %}
          <p><i class="small material-icons">accessible</i> Handicapé : Oui</p>
        {% endif %}

        {% if tabInfo['payant'] == 0 %}
          <p><i class="small material-icons">euro_symbol</i> Payant : Non</p>
        {% else %}
          <p><i class="small material-icons">euro_symbol</i> Payant : Oui</p>
        {% endif %}

        {% if tabInfo['description']%}
          <p><i class="small material-icons">description</i> Description : {{ tabInfo['description'] }}</p>
        {% endif %}

        {% if tabInfo['type'] %}
          <p><i class="small material-icons">info</i> Type : {{ tabInfo['type'] }}</p>
        {% endif %}

        {% if tabInfo['ville'] != 'Autoroute'%}
          <p><i class="small material-icons">location_city</i>Ville : {{ tabInfo['ville'] }}</p>
        {% endif %}

        {% if tabInfo['user'] != 'admin' %}
          <p><i class="small material-icons">person</i>Ajouté par : {{ tabInfo['user'] }}</p>
        {% endif %}
          </div>
      </div>
    </div>

  </div>

{% endblock %}
